In [175]:
import requests
import pandas as pd
import numpy as np
import geopandas as gpd

In [21]:
BASE_URL = 'https://www.data.gov.au/api/v0/'

In [89]:
STATES = [
    'ACT',
    'NSW',
    'NT',
    'QLD',
    'SA',
    'TAS',
    'VIC',
    'WA',
]

gdf_list = []

for state in STATES:
    # Search data.gov.au for Boundary files by state
    data = {'query': state+' Suburb/Locality Boundaries'}
    response = requests.get(BASE_URL+'search/datasets', params=data)
    response.raise_for_status()
    top_search_result = response.json()['dataSets'][0]

    # Filter for GeoJSON distributions and load to geodataframe
    geojson_distributions = [x for x in top_search_result['distributions'] if x['format'] == 'GEOJSON']

    for dist in geojson_distributions:
        temp_gdf = gpd.read_file(dist['downloadURL'])

        # make col names standard
        col_names = [
            'id',
            'lc_ply_pid',
            'dt_create',
            'dt_retire',
            'loc_pid',
            'locali',
            'loca_1',
            'loca_2',
            'loca_3',
            'loca_4',
            'loca_5',
            'loca_6',
            'loca_7',
            'geometry'
        ]

        temp_gdf.columns = col_names

        gdf_list.append(temp_gdf)
        print(dist['title'])

concat_gdf = gpd.GeoDataFrame(pd.concat(gdf_list))
concat_gdf

ACT Suburb/Locality Boundaries - PSMA Administrative Boundaries GeoJSON
NSW Suburb/Locality Boundaries - PSMA Administrative Boundaries GeoJSON
NT Suburb/Locality Boundaries - PSMA Administrative Boundaries GeoJSON
QLD Suburb/Locality Boundaries - PSMA Administrative Boundaries GeoJSON
SA Suburb/Locality Boundaries - PSMA Administrative Boundaries GeoJSON
TAS Suburb/Locality Boundaries - PSMA Administrative Boundaries GeoJSON
VIC Suburb/Locality Boundaries - PSMA Administrative Boundaries GeoJSON
WA Suburb/Locality Boundaries - PSMA Administrative Boundaries GeoJSON

,id,lc_ply_pid,dt_create,dt_retire,loc_pid,locali,loca_1,loca_2,loca_3,loca_4,loca_5,loca_6,loca_7,geometry
0,ckan_0257a9da_b558_4d86_a987_535c775cf8d8.1,16912,2019-05-22,None,ACT105,2018-06-26,None,TURNER,None,None,G,None,8,"MULTIPOLYGON (((149.12528 -35.27530, 149.12517..."
1,ckan_0257a9da_b558_4d86_a987_535c775cf8d8.2,16922,2019-05-22,None,ACT125,2018-06-26,None,WATSON,None,None,G,None,8,"MULTIPOLYGON (((149.16601 -35.24007, 149.16536..."
2,ckan_0257a9da_b558_4d86_a987_535c775cf8d8.3,16834,2019-05-22,None,ACT329,2018-06-26,None,LYONS,None,None,G,None,8,"MULTIPOLYGON (((149.06835 -35.34500, 149.06832..."
3,ckan_0257a9da_b558_4d86_a987_535c775cf8d8.4,16837,2019-05-22,None,ACT331,2018-06-26,None,PEARCE,None,None,G,None,8,"MULTIPOLYGON (((149.09198 -35.36434, 149.09195..."
4,ckan_0257a9da_b558_4d86_a987_535c775cf8d8.5,16821,2019-05-22,None,ACT446,2018-06-26,None,DUFFY,None,None,G,None,8,"MULTIPOLYGON (((149.02244 -35.33719, 149.02607..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1732,ckan_6a0ec945_c880_4882_8a81_4dbcb85e74e5.1729,20664,2019-05-22,None,WA3312,2016-05-05,None,KARAWARA,None,None,G,None,5,"MULTIPOLYGON (((115.88694 -32.00408, 115.88775..."
1733,ckan_6a0ec945_c880_4882_8a81_4dbcb85e74e5.1730,20343,2019-05-22,None,WA3348,2015-11-09,None,HOCKING,None,None,G,None,5,"MULTIPOLYGON (((115.80883 -31.76281, 115.80934..."
1734,ckan_6a0ec945_c880_4882_8a81_4dbcb85e74e5.1735,20453,2019-05-22,None,WA3370,2017-11-01,None,MOUNT TARCOOLA,None,None,G,None,5,"MULTIPOLYGON (((114.62517 -28.78666, 114.62516..."
1735,ckan_6a0ec945_c880_4882_8a81_4dbcb85e74e5.1736,19460,2019-05-22,None,WA3384,2010-04-27,None,MILLARS WELL,None,None,G,None,5,"MULTIPOLYGON (((116.82340 -20.73641, 116.82340..."
1736,ckan_6a0ec945_c880_4882_8a81_4dbcb85e74e5.1737,20747,2019-05-22,None,WA3388,2014-08-01,None,GLENDALOUGH,None,None,G,None,5,"MULTIPOLYGON (((115.82340 -31.91651, 115.82348..."

In [159]:
# Dissolve multiple polygons into one polygon
suburbs_2_gdf = concat_gdf.dissolve(by=['loc_pid', 'loca_2']).reset_index()

suburbs_2_gdf['representative_point'] = suburbs_2_gdf.representative_point()
suburbs_2_gdf['representative_point_lat'] = suburbs_2_gdf['representative_point'].y
suburbs_2_gdf['representative_point_lng'] = suburbs_2_gdf['representative_point'].x

suburbs_2_gdf['centroid'] = suburbs_2_gdf.centroid
suburbs_2_gdf['centroid_lat'] = suburbs_2_gdf['centroid'].y
suburbs_2_gdf['centroid_lng'] = suburbs_2_gdf['centroid'].x

suburbs_2_gdf.head()

,loc_pid,loca_2,geometry,id,lc_ply_pid,dt_create,dt_retire,locali,loca_1,loca_3,...,loca_5,loca_6,loca_7,locality_id,representative_point,representative_point_lat,representative_point_lng,centroid,centroid_lat,centroid_lng
0,ACT101,LYNEHAM,"POLYGON ((149.13478 -35.24418, 149.13412 -35.2...",ckan_0257a9da_b558_4d86_a987_535c775cf8d8.94,16905,2019-05-22,None,2018-06-26,None,None,...,G,None,8,ckan_0257a9da_b558_4d86_a987_535c775cf8d8,POINT (149.12453 -35.24303),-35.243028,149.124531,POINT (149.13068 -35.23975),-35.239750,149.130678
1,ACT102,DICKSON,"POLYGON ((149.15541 -35.25029, 149.15542 -35.2...",ckan_0257a9da_b558_4d86_a987_535c775cf8d8.14,16898,2019-05-22,None,2018-06-26,None,None,...,G,None,8,ckan_0257a9da_b558_4d86_a987_535c775cf8d8,POINT (149.13980 -35.25438),-35.254378,149.139798,POINT (149.14165 -35.25278),-35.252783,149.141652
2,ACT103,O'CONNOR,"POLYGON ((149.13075 -35.25953, 149.13061 -35.2...",ckan_0257a9da_b558_4d86_a987_535c775cf8d8.15,16907,2019-05-22,None,2018-06-26,None,None,...,G,None,8,ckan_0257a9da_b558_4d86_a987_535c775cf8d8,POINT (149.11474 -35.25478),-35.254780,149.114745,POINT (149.11559 -35.25660),-35.256600,149.115594
3,ACT104,AINSLIE,"POLYGON ((149.13740 -35.25835, 149.13742 -35.2...",ckan_0257a9da_b558_4d86_a987_535c775cf8d8.77,16891,2019-05-22,None,2018-06-26,None,None,...,G,None,8,ckan_0257a9da_b558_4d86_a987_535c775cf8d8,POINT (149.14581 -35.26493),-35.264931,149.145815,POINT (149.14792 -35.26218),-35.262181,149.147923
4,ACT105,TURNER,"POLYGON ((149.12528 -35.27530, 149.12517 -35.2...",ckan_0257a9da_b558_4d86_a987_535c775cf8d8.1,16912,2019-05-22,None,2018-06-26,None,None,...,G,None,8,ckan_0257a9da_b558_4d86_a987_535c775cf8d8,POINT (149.12651 -35.26524),-35.265239,149.126507,POINT (149.12453 -35.26888),-35.268882,149.124535

In [172]:
len(suburbs_2_gdf)

16163

In [173]:
len(suburbs_2_gdf)//2000

8

In [177]:
# Gmaps limits imports to 2000 rows so export in chunks

chunksize = 2000
number_of_chunks = (len(suburbs_2_gdf)//chunksize) + 1

for id, gdf_i in  enumerate(np.array_split(suburbs_2_gdf, number_of_chunks)):
    
    gdf_i[['loca_2', 'representative_point_lat', 'representative_point_lng']].to_csv(
        'output/representative_point_{id}.csv'.format(id=id),
        index=False
    )

    gdf_i[['loca_2', 'centroid_lat', 'centroid_lng']].to_csv(
        'output/centroid_{id}.csv'.format(id=id),
        index=False
    )